article.col-xs-12.col-sm-12
      header
        span.widget-icon
          i.fa.fa-area-chart
        h2 BAT - Application DataPlot
      div.widget-graph
        div(data-cdr={tlm:[{name:'/BAT/HK/CurrentFiltered'},{name:'/BAT/HK/VoltageFiltered'}],label:['Filtered Current','Filtered Voltage'],indicator:'dataplot'})
